{% load static %}
<html>

<head>
  <title>Manga Geek</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="{% static 'Imp/css/bootstrap.min.css' %}" type="text/css" />
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.0.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'Imp/js/bootstrap.bundle.min.js'%}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'Css/main.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="bg">
    <!-- Navigation -->
    <div class="navigationbar">
      <nav class="navbar navbar-expand-lg fixed-top text-center">
        <a class="navbar-brand" href="/home">
          <img src="{% static 'images/mg1.png' %}" height="40" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars" style="color:rgb(95, 72, 228);"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="col-sm-7" id="nav-search">
            <form id="searchbar" class="navbar-form navbar-left my-2 my-lg-0 ml-auto" method="post">
              {% csrf_token %}
              <input type="text" class="form-control" id="search" name="search" placeholder="Search Manga">
            </form>
            <ul class="list-group-item" id="search-results" hidden="true">

            </ul>
          </div>
          <ul class="navbar-nav mr-auto navbar-center">
            <!-- <li class="nav-item">
                          <a class="nav-link" href="Home.html">Home</a>
                        </li> -->
            <li class="nav-item">
              <a class="nav-link" href="/manganews">Manga News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/allmanga">All Manga</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{user}} &nbsp; <img src="static/databaseimage/{{ user.tbluser.profilephoto }}" width="35" height="35"
                  class="rounded-circle">
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"
                style="background-color:rgb(95, 72, 228);">
                <a style="color:white;" class="dropdown-item" href="/user">Dashboard</a>
                <a style="color:white;" class="dropdown-item" href="/useredit">Edit Profile</a>
                <a style="color:white;" class="dropdown-item " href="/userlogout">Log Out</a>
              </div>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link " href="/login">Sign In</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </div>

    <!-- Page Content -->
    <div class="rang1">
      <div class="container">
        <!-- Portfolio Item Heading -->
        <div class="jumbotron my-4">
          <h1 class="my-4"><b>{{ news_single.headline }}</b>
          </h1>

          <!-- Portfolio Item Row -->
          <div class="row">
            <div class="col-md-8">
              <img class="img-fluid" src="{% static 'databaseimage/' %}{{ news_single.photo }}" alt="">
              <!--      <img class="card-img-top" src="static/databaseimage/{{ news.tblnews_newsphoto }}"  alt="Card image cap">-->
            </div>
            <div class="col-md-4">
              <h3 class="my-3">News</h3>
              <p>{{ news_single.news }}</p>
            </div>

          </div>
          <!-- /.row -->
        </div>
          <!-- Related Projects Row -->
          <h3 class="my-4"><b>Other News</b></h3>

          <div class="row">

            {% for newsall in news_all %}
            <div class="col-md-3 col-sm-6 mb-4 ">
              <a href="/singlenews/{{ newsall.id }}">
                <img class="img-fluid" src="{% static 'databaseimage/' %}{{ newsall.othernews1 }}" alt="">
              </a>
            </div>
            {% endfor %}
          </div>
          <!-- /.row -->
        
      </div>
    </div>
  </div>
  <!-- /.container -->
  <script src="{% static 'js/ajax.js'%}" type="text/javascript">

  </script>
</body>


<!-- Footer -->
<footer>
  <footer class="footer">
    <div class="col-md-12">
      <div class="container">
        <div class="row">
          <div class="col-md-3 m-b-30">
            <div class="footer-title m-t-5 m-b-20 p-b-8">
              About us
            </div>
            <p class="white-text">
              Manga Geek is a ad free manga reader Online for all the Manga Fans Out there.
            </p>
          </div>
          <div class="col-md-3 m-b-30">
            <div class="footer-title m-t-5 m-b-20 p-b-8">
              Popular
            </div>
            <div class="footer-links">
              <a href="/singlemanga/1">
                Naruto
              </a>
              <a href="/singlemanga/2">
                One Piece
              </a>
              <a href="/singlemanga/6">
                Bleach
              </a>
              <a href="/singlemanga/10">
                Hunter X Hunter
              </a>
            </div>
          </div>
          <div class="col-md-3 m-b-30">
            <div class="footer-title m-t-5 m-b-20 p-b-8">
              Quick Links
            </div>
            <div class="footer-links">
              <a href="/allmanga">
                All Manga
              </a>
              <a href="/manganews">
                News
              </a>
              <a href="/terms">
                Terms & conditions
              </a>
              <a href="/privacy">
                Privacy policy
              </a>
            </div>
          </div>
          <div class="col-md-3 m-b-30">
            <div class="footer-title m-t-5 m-b-20 p-b-8">
              Support
            </div>
            <div class="footer-links">
              <a href="/login">
                Login
              </a>
            </div>
            <div class="footer-links">
              <a href="/request">
                Request
              </a>
            </div>
            <div class="footer-links">
              <a href="/userrequested">
                User Project
              </a>
            </div>

            <div class="footer-social-links m-t-30">
              <li>
                <a href="https://www.facebook.com/" target="_blank">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="https://twitter.com" target="_blank">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="https://www.instagram.com/" target="_blank">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
              </li>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div class="footer-bottom">
    Copyright © 2020, All Rights Reserved
  </div>
  </div>
  </div>
  </div>
</footer>

</html>